.env

*.jks

certs/*
!certs/.gitkeep

.idea/
*.iws
*.iml
*.ipr
out/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

*.class
*.log
*.ctxt
.project
.classpath

mysql_data/
db_data/
logs/

Thumbs.db
Desktop.ini